<h2>Vehicletypes</h2>

<table mat-table [dataSource]="items" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="seatPlaces">
    <th mat-header-cell *matHeaderCellDef>Seat places</th>
    <td mat-cell *matCellDef="let element">{{ element.seatPlaces }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button class="action-button" color="primary" (click)="EditItem(element)">Edit</button>
      <button mat-raised-button class="action-button" color="red" (click)="DeleteItem(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-raised-button class="add-button" color="primary" (click)="AddItem()">Add</button>
