@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-red {
  background-color: red;
  color: #fff;
}

.mat-blue {
  background-color: blue;
  color: #fff;
}
