<h2>Rentallocations</h2>

<table mat-table [dataSource]="items" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let element">{{ element.country }}</td>
  </ng-container>

  <ng-container matColumnDef="streetName">
    <th mat-header-cell *matHeaderCellDef>Street name</th>
    <td mat-cell *matCellDef="let element">{{ element.streetName }}</td>
  </ng-container>

  <ng-container matColumnDef="streetNumber">
    <th mat-header-cell *matHeaderCellDef>Street number</th>
    <td mat-cell *matCellDef="let element">{{ element.streetNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="postalCode">
    <th mat-header-cell *matHeaderCellDef>Postcode</th>
    <td mat-cell *matCellDef="let element">{{ element.postalCode }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
