<h2>Vehicles</h2>

<table mat-table [dataSource]="items" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="currentMileage">
    <th mat-header-cell *matHeaderCellDef>Current mileage</th>
    <td mat-cell *matCellDef="let element">{{ element.currentMileage }}</td>
  </ng-container>

  <ng-container matColumnDef="fixCostPerRental">
    <th mat-header-cell *matHeaderCellDef>Fix cost per Renal</th>
    <td mat-cell *matCellDef="let element">{{ element.fixCostPerRental }}</td>
  </ng-container>

  <ng-container matColumnDef="costPerMileage">
    <th mat-header-cell *matHeaderCellDef>Cost per mileage</th>
    <td mat-cell *matCellDef="let element">{{ element.costPerMileage }}</td>
  </ng-container>

  <ng-container matColumnDef="costPerDay">
    <th mat-header-cell *matHeaderCellDef>Cost per day</th>
    <td mat-cell *matCellDef="let element">{{ element.costPerDay }}</td>
  </ng-container>

  <ng-container matColumnDef="numberPlate">
    <th mat-header-cell *matHeaderCellDef>Numberplate</th>
    <td mat-cell *matCellDef="let element">{{ element.numberPlate }}</td>
  </ng-container>

  <ng-container matColumnDef="currentRentalLocation">
    <th mat-header-cell *matHeaderCellDef>Current rental location</th>
    <td mat-cell *matCellDef="let element">
      {{ element.currentRentalLocation && element.currentRentalLocation.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="ownerRentalLocation">
    <th mat-header-cell *matHeaderCellDef>Owner rental location</th>
    <td mat-cell *matCellDef="let element">
      {{ element.ownerRentalLocation && element.ownerRentalLocation.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="vehicletype">
    <th mat-header-cell *matHeaderCellDef>Vehicletype</th>
    <td mat-cell *matCellDef="let element">
      {{ element.vehicletype && element.vehicletype.name }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
