<h2>Vehicletype</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput #name placeholder="Name" [value]="data?.name" (input)="data.name = $event.target.value">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #seatPlaces placeholder="Seatplaces" type="number" [value]="data?.seatPlaces"
           (input)="data.seatPlaces = $event.target.value">
  </mat-form-field>
</form>

<p>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</p>
